$accent-title-color: #ffffff;
$bg-btn: rgb(0, 0, 0);
$body-background-color: rgba(136, 150, 241, 1);

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);

$maxWidth: 1920;
$maxWidthContainer: 1210;

%montserrat-400 {
  font-family: 'Montserrat';
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat';
  font-weight: 500;
}

%montserrat-700 {
  font-family: 'Montserrat';
  font-weight: 700;
}